@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    border-color: theme("colors.gray.200");
  }
  .dark * {
    border-color: theme("colors.graphite.700" / 60%);
  }
}

html,
body {
  height: 100%;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-graphite-300/30;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-graphite-400/50;
}

.dark ::-webkit-scrollbar-thumb {
  @apply bg-graphite-600/30;
}

.dark ::-webkit-scrollbar-thumb:hover {
  @apply bg-graphite-500/50;
}
